<div class="filter filter-set collapsible {{~#if (eq expanded false)}} collapsed{{/if}}"
     data-filter-id="{{ key }}">
    <div class="filter-header">
        <label data-action="toggleCollapsed">
            <span class="roboto-upper">{{ localize label }}</span>
            <i class="fa-solid fa-caret-down" inert></i>
        </label>
    </div>
    <div class="collapsible-content">
        <div class="wrapper">
            {{~#if config.blank}}
            <span class="filter-choice">
                <span class="filter-state" data-value="{{ value._blank }}"
                      id="{{ @root.partId }}-additional-{{ key }}-_blank"
                      {{ disabled locked._blank }}></span>
                <input type="hidden" name="additional.{{ key }}._blank" value="{{ value._blank }}">
                <label for="{{ @root.partId }}-additional-{{ key }}-_blank">{{ localize config.blank }}</label>
            </span>
            {{/if~}}
            {{~#each config.choices}}
            <span class="filter-choice">
                <span class="filter-state" data-value="{{ lookup ../value @key }}"
                      id="{{ @root.partId }}-additional-{{ ../key }}-{{ @key }}"
                      {{ disabled (lookup ../locked @key) }}></span>
                <input type="hidden" name="additional.{{ ../key }}.{{ @key }}" value="{{ lookup ../value @key }}">
                <label for="{{ @root.partId }}-additional-{{ ../key }}-{{ @key }}">{{ localize (ifThen label label this) }}</label>
            </span>
            {{/each~}}
        </div>
    </div>
</div>
