<div>
    <div class="source-config-panels">
        <div class="source-sidebar">
            <search>
                <input type="text" name="filter" placeholder="Filter Packages">
            </search>
            <ol class="package-list">
                {{#each packages}}
                <li class="{{#if active}}active{{/if}}" data-package="{{ id }}">
                    <button type="button" class="package" data-action="selectPackage">
                        <span>{{ label }}</span>
                        <span class="count">{{ count }}</span>
                    </button>
                </li>
                {{/each}}
            </ol>
        </div>

        <div class="packs">
            <section class="packs-section">
                <h3>Items</h3>
                <ol class="packs-list">
                    {{#each items}}
                    <li>
                        <label>
                            <input type="checkbox" name="pack-{{ id }}" value="true"
                                   {{ checked enabled }}>
                            <span>{{ label }}</span>
                        </label>
                    </li>
                    {{else}}
                    <li class="empty">None</li>
                    {{/each}}
                </ol>
            </section>
            <section class="packs-section">
                <h3>Actors</h3>
                <ol class="packs-list">
                    {{#each actors}}
                    <li>
                        <label>
                            <input type="checkbox" name="pack-{{ id }}" value="true"
                                   {{ checked enabled }}>
                            <span>{{ label }}</span>
                        </label>
                    </li>
                    {{else}}
                    <li class="empty">None</li>
                    {{/each}}
                </ol>
            </section>
        </div>
    </div>
    <footer class="form-footer">
        <button type="submit"><i class="fas fa-save"></i> Save</button>
    </footer>
</div>
