<div class="source-config-panels">
    <div class="source-sidebar">
        <search>
            <input type="text" name="filter" placeholder="Filter Packages">
        </search>
        <ol class="package-list">
            {{#each packages}}
            <li class="{{#if active}}active{{/if}}" data-package="{{ id }}">
                <label class="package-row">
                    <input type="checkbox" name="package-{{ id }}" value="true"
                           {{ checked active }} data-action="togglePackage">
                    <button type="button" class="package" data-action="selectPackage">
                        <span>{{ label }}</span>
                        <span class="count">{{ count }}</span>
                    </button>
                </label>
            </li>
            {{/each}}
        </ol>
    </div>

    <div class="packs">
        <section class="packs-section">
            <h3>Items</h3>
            <ul class="packs-list">
                <li class="pack-all">
                    <label>
                        <input type="checkbox" name="pack-all-items" value="true"
                               {{ checked allItemsEnabled }}
                               data-action="toggleAllPacks" data-section="items">
                        <span>All</span>
                    </label>
                </li>
                {{#each items}}
                <li>
                    <label>
                        <input type="checkbox" name="pack-{{ id }}" value="true"
                               {{ checked enabled }} data-action="autoSave">
                        <span>{{ label }}</span>
                    </label>
                </li>
                {{else}}
                <li class="empty">None</li>
                {{/each}}
            </ul>
        </section>
        <section class="packs-section">
            <h3>Actors</h3>
            <ul class="packs-list">
                <li class="pack-all">
                    <label>
                        <input type="checkbox" name="pack-all-actors" value="true"
                               {{ checked allActorsEnabled }}
                               data-action="toggleAllPacks" data-section="actors">
                        <span>All</span>
                    </label>
                </li>
                {{#each actors}}
                <li>
                    <label>
                        <input type="checkbox" name="pack-{{ id }}" value="true"
                               {{ checked enabled }} data-action="autoSave">
                        <span>{{ label }}</span>
                    </label>
                </li>
                {{else}}
                <li class="empty">None</li>
                {{/each}}
            </ul>
        </section>
    </div>
</div>
